.calculator {
  position: absolute;
  width: 424px;
  height: 506px;
  left: 40%;
  top: auto;

  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  text-align: center;
}

.calculator__font {
  width: 25px;
  height: 26px;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;

  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;

  color: #000000;
}
.calculator__font:hover {
  background-color: #71c9df;
  font-weight: bold;
}

.calculator__font--equal {
  width: 18px;
  height: 21px;
  padding-top: 126px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;

  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;

  color: #ffffff;
}
/* .herFont:hover {
  background-color: #cfa06b;
  font-weight: bold;
} */

.calculator__screen--show {
  position: absolute;
  width: 373px;
  height: 85px;
  left: 25px;
  top: 20px;

  background: rgba(196, 196, 196, 0.21);
  border: 1px solid rgba(122, 65, 65, 0.09);
  box-sizing: border-box;

  overflow: scroll;
  /* overflow: auto; */
}

.calculator__keyboard__button {
  width: 85px;
  height: 56px;
  cursor: pointer;
}

.calculator__keyboard__button--col-1 {
  position: absolute;
  left: 25px;
  background: rgba(196, 196, 196, 0.7);
}

.calculator__keyboard__button--col-2 {
  position: absolute;
  left: 121px;
  background: rgba(196, 196, 196, 0.7);
}

.calculator__keyboard__button--col-3 {
  position: absolute;
  left: 217px;
  background: rgba(196, 196, 196, 0.7);
}

.calculator__keyboard__button--col-4 {
  position: absolute;
  width: 85px;
  height: 56px;
  left: 316px;
  background: rgba(196, 196, 196, 0.7);
}

.calculator__keyboard__button--row-1 {
  top: 119px;
}
.calculator__keyboard__button--row-2 {
  top: 194px;
}
.calculator__keyboard__button--row-3 {
  top: 267px;
}
.calculator__keyboard__button--row-4 {
  top: 342px;
}
.calculator__keyboard__button--row-5 {
  top: 417px;
}
.calculator__keyboard__button--equal {
  height: 279px;
  top: 194px;
  background: #4d90fe;
}
